<%- contentFor("header")%>
<%- include('../_header') %>
<%- contentFor("main")%>
<div class="container d-flex flex-column justify-content-center align-items-center" style="min-height: 80vh;">
  <div class="card shadow p-4" style="max-width: 500px; width: 100%;">
    <h2 class="text-center mb-4">Modifier mon profil</h2>
    <form action="/api/users/update-profile" method="post">
      <%- include('_memberForm', { user }) %>
    </form>
  </div>
</div>